@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: GraphikLCWebUikit;
  src:
    url('/fonts/graphik/Graphik-Regular-Web.woff2') format('woff2'),
    url('/fonts/graphik/Graphik-Regular-Web.woff') format('woff'),
    url('/fonts/graphik/Graphik-Regular-Web.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: GraphikLCWebUikit;
  src:
    url('/fonts/graphik/Graphik-Medium-Web.woff2') format('woff2'),
    url('/fonts/graphik/Graphik-Medium-Web.woff') format('woff'),
    url('/fonts/graphik/Graphik-Medium-Web.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: GraphikLCWebUikit;
  src:
    url('/fonts/graphik/Graphik-Bold-Web.woff2') format('woff2'),
    url('/fonts/graphik/Graphik-Bold-Web.woff') format('woff'),
    url('/fonts/graphik/Graphik-Bold-Web.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Bagnard;
  src: url('/fonts/bagnard/Bagnard.otf') format('opentype');
  font-display: swap;
}

/** Montserrat Light **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src:
    url('/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Light.woff') format('woff');
  font-display: swap;
}

/** Montserrat Light-Italic **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
  src:
    url('/fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
  font-display: swap;
}

/** Montserrat Regular **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src:
    url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src:
    url('/fonts/montserrat/Montserrat-Italic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Italic.woff') format('woff');
  font-display: swap;
}

/** Montserrat Medium **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src:
    url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Medium.ttf');
  font-display: swap;
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
  src:
    url('/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-MediumItalic.woff') format('woff');
  font-display: swap;
}

/** Montserrat SemiBold **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src:
    url('/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  src:
    url('/fonts/montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
  font-display: swap;
}

/** Montserrat Bold **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src:
    url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}

/** Montserrat Bold-Italic **/
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
  src:
    url('/fonts/montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-BoldItalic.woff') format('woff');
  font-display: swap;
}

/** Pilat Light **/
@font-face {
  font-family: 'Pilat';
  font-weight: 300;
  font-style: normal;
  src:
    url('/fonts/pilat/Pilat-Light.woff2') format('woff2'),
    url('/fonts/pilat/Pilat-Light.woff') format('woff'),
    url('/fonts/pilat/Pilat-Light.otf') format('opentype');
  font-display: swap;
}

/** Pilat Book **/
@font-face {
  font-family: 'Pilat';
  font-weight: 350;
  font-style: normal;
  src:
    url('/fonts/pilat/Pilat-Book.woff2') format('woff2'),
    url('/fonts/pilat/Pilat-Book.woff') format('woff'),
    url('/fonts/pilat/Pilat-Book.otf') format('opentype');
  font-display: swap;
}

/** Pilat Regular **/
@font-face {
  font-family: 'Pilat';
  font-weight: 400;
  font-style: normal;
  src:
    url('/fonts/pilat/Pilat-Regular.woff2') format('woff2'),
    url('/fonts/pilat/Pilat-Regular.woff') format('woff'),
    url('/fonts/pilat/Pilat-Regular.otf') format('opentype');
  font-display: swap;
}

/** Pilat Demi **/
@font-face {
  font-family: 'Pilat';
  font-weight: 600;
  font-style: normal;
  src:
    url('/fonts/pilat/Pilat-Demi.woff2') format('woff2'),
    url('/fonts/pilat/Pilat-Demi.woff') format('woff'),
    url('/fonts/pilat/Pilat-Demi.otf') format('opentype');
  font-display: swap;
}

/** Pilat Bold **/
@font-face {
  font-family: 'Pilat';
  font-weight: 700;
  font-style: normal;
  src:
    url('/fonts/pilat/Pilat-Bold.woff2') format('woff2'),
    url('/fonts/pilat/Pilat-Bold.woff') format('woff'),
    url('/fonts/pilat/Pilat-Bold.otf') format('opentype');
  font-display: swap;
}

/** Pilat Heavy **/
@font-face {
  font-family: 'Pilat';
  font-weight: 900;
  font-style: normal;
  src:
    url('/fonts/pilat/Pilat-Heavy.woff2') format('woff2'),
    url('/fonts/pilat/Pilat-Heavy.woff') format('woff'),
    url('/fonts/pilat/Pilat-Heavy.otf') format('opentype');
  font-display: swap;
}

/** Aktiv Grotesk Regular **/
@font-face {
  font-family: 'AktivGrotesk';
  font-weight: 400;
  font-style: normal;
  src:
    url('/fonts/grotesk/AktivGrotesk_Regular.woff2') format('woff2'),
    url('/fonts/grotesk/AktivGrotesk_Regular.woff') format('woff'),
    url('/fonts/grotesk/AktivGrotesk_Regular.otf') format('opentype'),
    url('/fonts/grotesk/AktivGrotesk_Regular.ttf') format('truetype');
  font-display: swap;
}
